/* Width */
$width-medium: 768px;

/* Fonts */
$font-stack: 'Source Sans Pro', sans-serif;

/* Colors */
$color-background-main: #0a1016;
$color-font-main: #fff;
$color-font-secondary: #bdbdbd;
$color-dark-cyan: #081C22;
$color-green: #00c853;
$color-yellow: #ffd600;
$color-red: #dd2c00;
